
/* ========================
StyleStarter
======================== */


/* ---------------------------------
resets & placeholders
--------------------------------- */

%globals {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}


%typography {
  font-size: 62.5%;

  body {
    font-family: 'Helvetica, Arial', sans-serif;
    font-size: 1.6rem;
  }
}


%bottomFooter {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;

  main { flex-grow: 1; }
}


%resetAnchors {
  text-decoration: none;
  color: inherit;
}


/* ---------------------------------
functions
--------------------------------- */

// returns the size in ems based on
// the desired target size in pixels
@function emCalc($target, $context: 16) {
  @return ($target / $context) * 1em;
}


/* ---------------------------------
mixins
--------------------------------- */

// initializes the stylesheet
// w/ the selected placeholders
@mixin init($bf: false, $t: true) {
  :root {
    @extend %globals;
    @if ($t) { @extend %typography; }
  }

  body {
    @if ($bf) { @extend %bottomFooter; }
  }
}


// sets flexbox properties
@mixin flex($direction, $justify, $align, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}


// resets lists or boxes
@mixin resetBox($pad: 0, $mar: 0, $isList: true) {
  padding: $pad;
  margin: $mar;
  @if $isList { list-style: none; }
}


// creates a centered container
// of the desired width
@mixin container($w) {
  display: block;
  max-width: $w;
  margin: 0 auto;
}


// creates a clearfix
// courtesy of Bootstrap 4
@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}


// truncates text at the given width
@mixin truncate($w) {
  width: $w;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// creates a round shape
@mixin round($w) {
  display: inline-block;
  width: $w;
  height: $w;
  border-radius: 50%;
}


// creates a float-based grid
@mixin legacyGrid(
  $debug: false,
  $container: 960,
  $cols: 12,
  $gutter: 20,
) {
  .grid-wrapper {
    $col: ($container / 12) - $gutter;
    $fluidCol: ($col / $container) * 100%;
    $fluidGutter: ($gutter / $container) * 100%;

    max-width: ($container + $gutter) * 1px;
    margin: 0 auto;

    .container {	
      padding-right: $fluidGutter;
  
      .row {
        @include clearfix();
    
        .col {
          float: left;
          width: $fluidCol;
          margin-left: $fluidGutter;

          @for $i from 2 through $cols {
            // cols that span more than 1 col
            &.col-#{$i}x {
              width: ($fluidCol * $i) + ($fluidGutter * ($i - 1));
            }

            // col offsets
            &.offset-#{$i}x {
              margin-left: ($fluidCol * $i) + ($fluidGutter * ($i + 1));
            }
          }
        }
      }
    }
  }

  @if ($debug) {
    .grid-wrapper { outline: 1px dashed goldenrod; }
    .container { outline: 1px dashed sandybrown; }
    // .row { outline: 1px solid gold; }
    .col { outline: 1px solid burlywood; }

    @for $i from 1 through $cols {
      .col.col-#{$i} {
        &::before {
          content: '#{$i}';
          display: block;
          text-align: center;
        }
      }
    }
  }
}


// highlights the given element for debugging
@mixin highlight { outline: 1px solid purple; }


/* ---------------------------------
other
--------------------------------- */

// highlights all elements for debugging
$debug: false;

* { @if $debug { outline: 1px solid purple; } }
